.App {
  text-align: center;
}

.ui.main.container{
  margin-top: 4em;
}
footer {
  background-color: var(--primaryColor);
  display: block;
  color: #fff;
}


/*CUSTOM*/
.btn-secondary {
  background-color: rgb(197, 197, 197);
  border: none;
  color: rgb(78, 78, 78);
}

.border-main {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.btn-main {
  background-color: var(--primaryColor);
  color: #fff;
}
.footer {
  margin-top: 95px;
  padding: 75px;
  border-top: 5px solid var(--primaryColor);
  background-color: rgba(185, 172, 172, 0.842);
  box-shadow: 0 10px 76px -12px rgba(27, 27, 27, 0.1);
}
.footer .footer-top {
  display: flex;
  align-items: flex-start;
}
.footer .footer-top .logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  margin-right: 50px;
  color: #10182f;
}
.footer .footer-top .footer-menu {
  margin-left: auto;
  display: flex;
}
.footer .footer-top .footer-menu nav {
  min-width: 80px;
  margin-right: 80px;
}
.footer .footer-top .footer-menu nav h5 {
  font-size: 14px;
  font-weight: bold;
  color: #222c46;
  margin-bottom: 7px;
  text-transform: uppercase;
  display: flex;
}
.footer .footer-top .footer-menu nav ul li a {
  display: flex;
  font-size: 16px;
  color: #545d7a;
  padding: 10px 0;
  z-index: 1;
  position: relative;
  left: -35px;;
}

.footer .footer-bottom {
  display: flex;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
}
.footer .footer-bottom p {
  font-size: 15px;
  color: #545d7a;
  padding-top: 35px;

}
.footer .footer-bottom .footer-menu ul {
  display: flex;
}
.footer .footer-bottom .footer-menu ul li {
  margin: 0 10px;
 right: 90px;
  position: relative;
}
.footer .footer-bottom .footer-menu ul li a {
  display: flex;
  font-size: 14px;
  color: #545d7a;
  z-index: 1;
  position: relative;
}


.filter{
  margin-top: 17px;
}
